In [1]:
from utils import Twenty_Newsgroups
import numpy as np
import pandas as pd

In [1]:
print("experiment 1")

experiment 1

Get raw data
=============

In [9]:
tng = Twenty_Newsgroups()
raw_data = tng.get_all_training_articles()

Create pandas dataframe from raw data
=====================================

In [14]:
col_names = ['class_name', 'class_id', 'file_name', 'file_content']
tng_df = pd.DataFrame(columns=col_names)

classes = raw_data.keys()
class_id = 0

for class_ in classes:
    articles = raw_data[class_]

    for article in articles:
        tng_df.loc[len(tng_df)] = [class_, class_id, article['article'], article['file_data']]
    
    class_id += 1

In [15]:
tng_df

,class_name,class_id,file_name,file_content
0,alt.atheism,0,49960,"[From: mathew <mathew@mantis.co.uk>\n, Subject..."
1,alt.atheism,0,51060,"[From: mathew <mathew@mantis.co.uk>\n, Subject..."
2,alt.atheism,0,51119,[From: I3150101@dbstu1.rz.tu-bs.de (Benedikt R...
3,alt.atheism,0,51120,"[From: mathew <mathew@mantis.co.uk>\n, Subject..."
4,alt.atheism,0,51121,"[From: strom@Watson.Ibm.Com (Rob Strom)\n, Sub..."
...,...,...,...,...
11309,talk.religion.misc,19,84444,[From: psyrobtw@ubvmsd.cc.buffalo.edu (Robert ...
11310,talk.religion.misc,19,84445,[From: sandvik@newton.apple.com (Kent Sandvik)...
11311,talk.religion.misc,19,84446,[From: sandvik@newton.apple.com (Kent Sandvik)...
11312,talk.religion.misc,19,84507,"[From: cutter@gloster.via.mind.org (cutter)\n,..."
11313,talk.religion.misc,19,84558,"[Subject: Re: Albert Sabin\n, From: rfox@charl..."

Cleanse file contents
=====================